header{
    display: flex;
    height: 60px;
    width: 97%;
    margin-left: 5px;
    flex-direction: row;
    padding:30px 0;
    margin-bottom: 15px;
}

#line{
    height: 5px;
    width: 100%;
    margin-top: 25px;
    background-color: black;
}
header> b{
    font-size: 40px;
}

.logo{
    width: 40px;
    height: 40px;
    padding:5px 0 0 0 ;
}

@media (min-width: 600px) {
    header{
        margin-left: 3%;
    }
}