.tasks{
    position: relative;
}

.tasks:before {
    position: absolute;
    z-index:1;
    display: flex;
    bottom: 0;
    content: "";
    height: 30px;
    width: 0%;
    background-color: whitesmoke;
    transition: width 0.2s ease-in-out;
    opacity: 0.4;
}

.tasks:hover:before{
    width: 100%;
}

.taskDiv,.deleteTask{
    z-index:1;
}

.deleteTask{
    color:gray;
    margin-top: 2px;
    z-index: 5;
}
.taskDiv{
    display: flex;
}

.fa-check-square,.unselected{
    margin: 3px 5px 0 10px;
}

.fa-check-square+.taskName{
    text-decoration: line-through;
}

.unselected{
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 3px;
    border: gray solid 2px;
}

.taskName{
    font-size: 15px;
}

.taskName:focus{
    outline: none;
}