@media (min-width: 600px) {

    @keyframes move {
        0%{
            right: -30%;
        }
        100%{
            top: -5px;
            left: auto;
            right: 0;
        }
    }

    #fon{
        flex-direction: row;
        top: -5px;
        background-color: #888888;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
    }

    #addingArticle{
        height: 100vh;
        width: 30%;
    }
}