*{
  box-sizing: border-box;
  word-break: keep-all;
  font-family: "Arial";
}

body,main{
  display: flex;
  flex-direction: column;
}

body{
  margin: auto;
  height: auto;
  min-height: 100vh;
  min-width: 130px;
  justify-content: center;
  align-content: start;
  background: whitesmoke;
  max-width: 1224px;
  position: relative;
}

.App{
  display: flex;
  flex-direction: column;
}

#content{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: end;
  background-size:60px 60px;
  height: auto;
  min-height: 99vh;
}

main{
  align-content: start;
}

.addNewArticleButton{
  cursor: pointer;
  position: fixed;
  bottom: 5px;
  left: 5px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  padding-left: 6px;
  font-size: 30px;
  color: white;
  background-color: black;
  z-index: 4;
}

input{
  border: none;
  background-color: inherit;
  margin-bottom: 5px;
  color: gray;
}

@media (min-width: 600px) {

  #content,main{
    flex-direction: row;
  }

  main{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2.3%;
    padding-top: 2%;
  }

  .addNewArticleButton{
    font-weight: bold;
    left: auto;
    right: 0;
    margin: 2% 20px 0 1%;
  }
}
